* {
  box-sizing: border-box; }

body {
  padding-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 50;
  line-height: 26.4px;
  color: #339999;
  background-color: #000000;
}

.page-header, .main-content {
  text-align: center;
}

h1{
  font-weight: lighter;
}

p{
  width: 600px;
}
