* {
  box-sizing: border-box; }

body {
  padding-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 50;
  color: #339999;
  background-color: #1A1B1C;
}

pre{
  color: #00cccc;
}

a{
  color: #33ccff;
}

.page-header, .main-content {
  text-align: center;
}

.clear {
  display: block;
}

h1{
  font-weight: lighter;
}

p{
  width: 1000px;
  display: inline-block;
}

.embed{
  margin-top: 30px;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
