* {
  box-sizing: border-box; }

body {
  padding-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 50;
  color: #FFFFFF;
  background-color: #1A1B1C;
}

pre{
  color: #FFFFFF;
}

a{
  color: #FFFFFF;
}

.chat {
  float:left;
}

.page-header, .main-content {
  text-align: left;
}

.clear {
  display: block;
}

h1{
  font-weight: lighter;
}

p{
  width: 1000px;
  display: inline-block;
}

.embed{
  margin-top: 30px;
}

img {
    height: auto; 
    width: auto; 
    max-width: 1500px; 
    max-height: 1500px;
    display: block;
    margin: 0 auto;
}
iframe {

    background-color: #FFFFFF;
    display: block;
    float: left;
}

audio {
    width: 300px;
    background-color: #777;
    display: block;
}

.message-window {
  background-color: grey; 
}

.input-field {
  background-color: grey;
}
